<link rel="stylesheet" href="main.css">
<style>
    .reddit-card {
       flex-basis: calc(20% - 10px); 
       margin: 5px;
       border: 1px solid black;
       border-radius: 5px;
       padding: 2rem;
       height: 300px;
       width: 200px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       font-size: 18px;
    }

    table{
        font-size: 24px;
    }

    .page-space {
        height: 100px;
    }

    svg{
        width: 100px;
        height: 100px;
    }

    .course-name {
        color: #8c1d40;
        font-size: 48px;
        padding: 20px;
    }

    .course-description {
        color: #8c1d40;
    }

    .course-instructor {
        color: #8c1d40;
    }

    .course-difficulty {
        color: #8c1d40;
    }   

    .course-interests {
        color: #8c1d40;
    }

    td{
       word-break:break-all;
       word-wrap: break-word;
    }
</style>

<h1 class="course-name" style="text-align: center; font-size: 60px;">{{courseName}}: {{courseTitle}}</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Instructor</th>
      <th scope="col">Difficulty Score</th>
      <th scope="col">Instructor Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> {{courseDescription}}</td>
      <td> <a href={{instructorLink}}>{{courseInstructor}}</a></td>
      <td> {{courseDifficulty}}</td>
      <td> {{instructorRating}}</td>
    </tr>
  </tbody>
</table>

{{!-- <h5 class="course-description">Description:</h5> {{courseDescription}}
<h5 class="course-instructor">Instructor:</h5> {{courseInstructor}}
<h5 class="course-difficulty">Difficulty Rating:</h5> {{courseDifficulty}}
<h5 class="course-interests">Take this course? (based on your interests):</h5> {{courseInterests}} --}}
<div class="page-space">

</div>

<div class="card" style="max-width: 300px;">
    <div class="card-body p-2">
        <h6 class="mb-2">Reddit Posts: {{courseName}}</h6>
        <a href="https://www.reddit.com/r/ASU/search/?q={{courseName}}" class="btn btn-sm btn-primary" style="background-color: #8c1d40; border-color: white;">
            View on Reddit
        </a>
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111589.png" alt="Reddit logo" style="width: 40px; height: 40px;">
    </div>
</div>
